*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 640px) {
    .profile-picture {
        display: none;
    }
}

.iconskill {
    color: white;
    background-color: #34282c;
}