*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 640px) {
    .profile-picture {
        display: none;
    }
}

.iconskill {
    color: white;
    background-color: #34282c;
}

.info-me p {
    padding-top: 5%;
}

.info-education p{
    padding-top: 5%;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

